body { 
    margin: 0px;
    background-color: black;
    align-content: center;
}

.container {


    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(13, 1fr);
    background-color: white;
}

.wel{
    background-color: green;
}

header {
    grid-row: 1/3;
    grid-column: 1/13;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.nav {
    grid-column: 1/2;
    background-color: wheat;
    text-align:center;
}

.topshit {
    grid-column: 2/4;
    background-color: wheat;
    text-align: center;
}

.login {
    grid-column: 4/5;
    background-color: wheat;
}

.mainpic {
    grid-row: span 6;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.buy {
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: green;
    color: wheat;
    border: 2px solid wheat;
    text-align: center;
}

.bottom {
    grid-row: 5/14;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.tider {
    grid-column: 1/6;
    grid-row: 1/2;
    background-color: green;
    text-align: center;
    color: wheat;
    line-height: 70%;
}

.secondpic {
    grid-column: 6/13;
    grid-row: 1/2;
    background-color: wheat;
}

.dropdowncontainer {
    grid-column: 1/13;
    grid-row: 1/14;
    position: absolute;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.nav2 {
    grid-column: 1/6;
    grid-row: 1/17;
    background-color: green;
    text-align:center;
    padding-left: 15px;    
}

i {
    margin: auto;
    margin-top: 5%;
}

.show {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.unshow {
    display: none
}

div { 
    margin: 0%;
}

img {
    width: 360px;
}

form {
    grid-column: 4/11;
    width: 100%;
    height: 100%;
}

input {
    grid-column: 4/11;
    width: 100%;
    height: 20%;
    border: solid 2px green;
    border-radius: 10px;
    font-family: 'Mina', sans-serif;
    text-align: center;
    font-size: 18px;
}

.submit {
    align-self: center;
    width: 40%
}

p {
    font-family: 'Mina', sans-serif;
    text-align: center;
}

.reg {
    color: black;
    grid-row: 4/6;
    grid-column: 8/11;
    border: solid 2px green;
    border-radius: 10px;
    font-family: 'Mina', sans-serif;
    text-align: center;
    font-size: 18px;
    padding: 10%;
    margin-top: 8px;
    margin-bottom: 2px;
    margin-right: 4px;
}

.navpart1 {
    grid-row: 2/3;
    grid-column: 1/2;
    color: wheat;
    border-top: solid 1px wheat;
}

.navpart2 {
    grid-row: 3/4;
    grid-column: 1/2;
    color: wheat;
    border-top: solid 1px wheat;
}

.navpart3 {
    grid-row: 4/5;
    grid-column: 1/2;
    color: wheat;
    border-top: solid 1px wheat;
}

@media (min-width: 540px) {
    .dropdowncontainer{
        display: none;
    }
    .fa-reorder{
        display: none;
        color: wheat;
    }
    .dropdowncontainer2{
        width: 180;
        margin: 0 auto;
        position: absolute;
        display: grid;
        grid-template-rows: repeat(6, 1fr);  
    }
    .container{
        width:360px;
        margin: 0 auto;
    }

}

@media (min-height: 640px) {
    .container{
        height:640px;
        margin: 0 auto;
    }
    
}

@media (max-width: 540px) {
    .dropdowncontainer2{
        display: none;
    }
    .container{
        width: 100vw;
    }
    img {
        width: 100vw;
    }

}

@media (max-height: 640px) {
    .container{
        height: 100vh;
    }
    .dropdowncontainer {
        height: 100vh;
    }
    
}