<img src="./img/main.jpg" alt="Gym">
    <a class= "buy" href="./register.html">Bli Medlem!</a>
</img>
<div class="bottom">
    <aside class="tider">
        <h4>Tider</h4>
        <h5>Mon 9:00 - 15:00</h5>
        <h5>Tis 9:00 - 15:00</h5>
        <h5>Ons 9:00 - 15:00</h5>
        <h5>Tor 9:00 - 15:00</h5>
        <h5>Fre 9:00 - 15:00</h5>
    </aside>
    <aside class="secondpic"></aside>
</div>
