
<form action="./action_page.php" method="get">
    <p style = "font-size:18px">Username</p>
    <input name="usr" type="text"><br>
    <p style = "font-size:18px">Password</p>
    <input name="Password" type="password"><br><br>
    <input class="submit" type="submit" value="Login">
</form>
<a class="reg" href="./register.html"> Register! </a>
