body { 
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: black;
}

header {
    grid-row: 1/3;
    grid-column: 1/13;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.nav {
    grid-column: 1/2;
    background-color: coral;
}

.topshit {
    grid-column: 2/4;
    background-color: blanchedalmond;
}

.login {
    grid-column: 4/5;
    background-color: rebeccapurple;
}

.mainpic {
    grid-row: span 6;
    background-color: rosybrown;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.buy {
    grid-column: 2/3;
    grid-row: 6/7;
    background-color: green;
}

.bottom {
    grid-row: 10/17;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.tider {
    grid-column: 1/6;
    grid-row: 1/2;
    background-color: blue
}

.secondpic {
    grid-column: 6/13;
    grid-row: 1/2;
    background-color: yellow;
}